datos/dataroot/__MACOSX/._test.p
datos/dataroot/__MACOSX/._valid.p
datos/dataroot/archive.zip
datos/dataroot/RTS/train.p
datos/dataroot/RTS/test.p
datos/dataroot/RTS/valid.p
Taller_CEIA.ipynb
TP1_CEIA.py
TP2_CEIA.py
TP3_CEIA.py
TP4_CEIA.py
TP5_CEIA.py
TP6_CEIA.py
datos/TP_CEIA_Inicial_Python_2025.pdf
